h2 {
	text-align: center;
}

h3{
	display: inline-block;
}

#AWS{
	color: #e47911;
}

.btn{
	background-color: #e47911;
	border-color: #e47911;
}

.btn-primary{
	border-color: #e47911;
}

.btn-primary:hover {
	background-color: #e47911;
	border-color: #e47911;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #e47911;
	border-color: #e47911;		
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-color: #e47911;
	border-color: #e47911;		
}

#utilization{
	padding-right: 0px;
	padding-left: 0px;
}

#utilization_inline{
	font-size: 14px;
}

#VPC{
	text-align: left;
}